extends node_modules/pug-bootstrap/_bootstrap.pug
append styles
  link(href='styles/pnotify.custom.min.css', rel='stylesheet')
append scripts
  script(src='scripts/pnotify.custom.min.js')
  script.
    PNotify.prototype.options.styling = "bootstrap3";
    $(function(){
      new PNotify({
        title: 'Login failed',
        text: 'Invalid username or password.',
        type: 'error'
      });
    });
append body
  .container
    form
      h2 Please sign in
      .form-group
        label.sr-only(for='inputEmail') Email address
        input.form-control#inputEmail(type='email', placeholder='Email address', required='', autofocus='')
      .form-group
        label.sr-only(for='inputPassword') Password
        input.form-control#inputPassword(type='password', placeholder='Password', required='')
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in