append body
	.container
		h2 Welcome
		p
			| You're not logged in, so you can't make use of any of the features this site has to offer.
		h3 Patients
		p
			| As a patient, you can change your personal details and avatar.
		h3 Carers
		p
			| As a carer, you can manage patients, see what they're doing, view their location.
		h3 Companies
		p
			| As a company, you can manage carers and get a list of their patients.
