append scripts
	script(src='/scripts/login.js')

append body
	#loginModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="loginModalLabel", aria-hidden="true")
		form#login-form
			.modal-dialog(role="document")
				.modal-content
					.modal-header
						h5#loginModalLabel.modal-title Log in
						button.close(type="button", data-dismiss="modal", aria-label="Close")
							span(aria-hidden="true") ×
					.modal-body
						.form-group
							label.sr-only(for='login-email') Email address
							input.form-control#login-email(name='email', type='email', placeholder='Email address', required='', autofocus='')
						.form-group
							label.sr-only(for='login-password') Password
							input.form-control#login-password(name='password', type='password', placeholder='Password', required='')
						.form-group
							label.sr-only(for='login-account-type') Account type
							select.form-control#login-account-type(name='account_model_name', required='')
								option(value='', selected='', disabled='') Account type
								option(value='Patient') Patient
								option(value='Carer') Carer
								option(value='CareCompany') Care company
						- if (next_url == null)
							- next_url = '/'
						input#login-next-url(name='next_url', type='hidden', value= next_url)
					.modal-footer
						button.btn.btn-secondary(type="button", data-dismiss="modal") Close
						button.btn.btn-primary#login-btn(type="submit") Log in
